%head
	%script{:src=> "https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"}

	%script{:src=>"/lib/bootstrap/js/bootstrap.js"}
	%script{:src => "/stations.js"}
	%script{:src => "/d3.v2.js"}
	%script{:src => "/nv.d3.min.js"}
	/ %script{:src => "http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/jquery.dataTables.min.js"}
	/ %script{:src=> "/lib/datatables/datatables.pagination.js"}
	%link(rel="stylesheet" href="/lib/bootstrap/css/bootstrap.min.css")
	%link(type="text/css" href="/jquery-ui-1.8.23.custom.css" rel="stylesheet")
	%link(rel="stylesheet" href="/app.css")
	%link(rel="stylesheet" href="/nv.d3.css")
	%link(rel="stylesheet" href="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/css/jquery.dataTables.css")
%body
	.container-fluid
		.row-fluid
			.span12
				.page-header
					%h1{:data=>{:station_identifier => "#{@station.identifier}"}}
						My Station Name
						%small
							=@station.description
		.row-fluid
			.span3.navpanel.affix
				#navigation
					%ul.nav.nav-list
						%li.nav-header
							%a{:href=>"#states"}
								States
						-@station.state.each do |state|
							%li
								%a{:id=>"state_nav_#{state.id}", :href=>"#state_id_#{state.id}"}
									=state.name
									%span.badge.badge-info
										Updated
						%li.nav-header
							%a{:href=>"#actions"}
								Actions
						-@station.hardware_action.each do |action|
							%li
								%a{:id=>"action_nav_#{action.id}", :href=>"#action_id_#{action.id}"}
									=action.name
									%span.badge.badge-info{:id=>"badge_action_#{action.id}"}
						%li.nav-header
							%a{:href=>"#sensors"}
								Sensors
						-@station.sensor.each do |sensor|
							%li
								%a{:id=>"sensor_nav_#{sensor.id}", :href=>"#sensor_header_#{sensor.id}"}
									=sensor.name
									%span.badge.badge-info
		.row-fluid
			.span3
					
			.span9.content#maincontent{:data=>{:spy=>"scroll", :target=>"#navigation"}}
				#states
					%h2 States
					%ul.thumbnails
						-if !@station.state.empty?
							-@station.state.each do |state|
								%li
									.thumbnail.state_display{:id=> "state_id_#{state.id}", :title=>"#{state.description}"}
										%h3
											="#{state.name}"
										%p
											=state.description
										%h4
											=state.current_state
						-else
							No States Associated with this Station
				#actions
					%h2 Actions
					%ul.thumbnails
						-@station.hardware_action.each do |action|
							%li.thumbnail{:id=>"action_id_#{action.id}"}
								%h3
									=action.name
								%p
									=action.description
								%input
								%a.btn.action_button{:href=>"#", :data=>{:action_id=>"#{action.id}", :action_identifier=>"#{action.identifier}"}}
									Perform Action
								%p.action_display{:id => "action_display_#{action.identifier}"}
				#sensors
					%h2 Sensors
					-@station.sensor.each do |sensor|
						%h3.sensor_header{:id=>"sensor_header_#{sensor.id}", :data=>{:sensor_id=>"#{sensor.id}"}}= sensor.name
						%h4= sensor.description	
						%ul.nav.nav-tabs
							%li.active.tab
								%a{:href=>"#sensor_chart_#{sensor.id}", :data=>{:toggle => "tab"}}
									Chart
							%li.tab 
								%a{:href=> "#table_#{sensor.id}"}
									Table
						.tab-content
							.tab-pane.chart.active{:id => "sensor_chart_#{sensor.id}", :data=>{:toggle=> "tab", :sensor_id => "#{sensor.id}"}}
								%svg
							.tab-pane{:id=>"table_#{sensor.id}"}
								%table.table-striped.table-bordered.sensor_table{:cellpadding=> "0", :cellspacing=>"0",:border=>"0", :id => "sensor_table_#{sensor.id}"}
									%thead
										%th 
											Measurement
										%th
											Time
									%tbody
				
	
	
