%h1=@station.name
%h2=@station.user
%p=@station.description
%h2 States
-if !@station.state.empty?
	-@station.state.each do |state|
		="#{state.name}(#{state.description})"
		=state.current_state
-else
	No States Associated with this Station

%h2 Actions

-@station.hardware_action.each do |action|
	=form_tag({:controller => "hardware_action", :action => "forcePending"}, :method => "get") do
		=label_tag(:message, "Message")
		=text_field_tag(:message)
		= hidden_field_tag(:hardware_action, action.id)
		=submit_tag("Search")
%h2 Sensors
-@station.sensor.each do |sensor|
	%h3= sensor.name
	%h4= sensor.description
	%table.table-striped
		%thead
			%tr
				%th= "Value(#{sensor.units})"
				%th Time
		%tbody
			-sensor.measurement.each do |measurement|
				%tr
					%td=measurement.value
					%td=measurement.created_at

